<!DOCTYPE html>
<html>
<head>
    <title><%= title || 'Quiz App' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- <%- include('../partials/header') %> -->
    <%- include('../partials/navbar') %>

    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>